.navbar {
  height: 70px;
  box-shadow: 5px 3px 10px 2px rgba(187, 186, 186, 0.418);
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
}

.navbar h1 {
  margin-left: 30%;
}

.navLink {
  font-weight: normal; /* set default font weight */
  text-decoration: none;
  color: black;
}

.list {
  align-self: flex-start;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
}

.navbar li {
  margin-left: 10px;
  margin-right: 10px;
}

.headerLogo {
  margin-left: auto;
  margin-right: 40px;
}

.headerLogo img {
  margin-right: 0;
  width: 30px;
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  .navbar h1 {
    overflow: hidden;
    margin-left: 0px;
  }

  .navbar li {
    margin-left: 5px;
    margin-right: 5px;
  }
}
